$primary-color: #282c34;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
}

.App {
  min-height: 100vh;
}

.main-content {
  padding: 2rem;
}

.page {
  margin-top: 2rem;
}

.page h1 {
  margin-bottom: 1rem;
  color: $primary-color;
}
